nav {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .2em .1em;
    margin-top: .5em;
}

nav .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
    align-items: center;
    cursor: pointer;
}

nav .link .icon {
    font-size: 1.3rem;
    color: #83BB00;
}

nav .link .text__link {
    font-size: 0.9rem;
    color: var(--color-text-link);
    transition: color var(--transition);
    text-decoration: none;
}